/* Login page */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  margin: 0;
  padding: 0;
}

content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(9, 36, 81);
}

#search {
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo {
  width: 100px; /* Adjust as per actual logo size */
}

nav ul {
  list-style: none;
  display: flex;
  margin-top: 16px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

#search {
  text-align: center;
  padding: 50px;
}

#search input {
  width: 50%;
  padding: 10px;
  margin-top: 20px;
}

#community {
  background-color: #f0f0f0;
  padding: 50px;
  text-align: center;
}

#community > p {
  max-width: 50%;
  margin: 0 auto;
}

.features {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.feature {
  margin: 0 20px;
  text-align: center;
}

.feature .icon {
  font-size: 48px; /* Adjust size as needed */
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(9, 36, 81);
  color: white;
}

.footer-subtitle {
  font-size: 12px;
}

.footer-subtitle a {
  color: inherit;
}

h1 {
  font-size: 60px;
}

footer > p {
  margin-top: 16px;
}