{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="{% static 'css/rateMyUogCourse/styles-signup.css' %}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

    <div class="signup-container">
        <h2>Sign Up</h2>
        <p>Sign up to start reviewing courses!</p>

        <form id = "signupForm" method="POST">
			{% csrf_token %}
            <div class="input-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="input-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-group">
                <label for="program-type">Program Type:</label>
                <select id="program-type" name="program_type" required>
                    <option value="">Please select</option>
                    <option value="CS+">CS+</option>
                    <option value="IT+">IT+</option>
                    <!-- Add program options here -->
                </select>
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <i class="bi bi-eye-slash" id="togglePassword"></i>
            </div>

            <div class="input-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm_password" required>
                <i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
            </div>

            <!-- Display error message here -->
            {% if errorMessage %}
            <div class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
            {% endif %}
            <div class="g-recaptcha" data-sitekey="6LdDSpMpAAAAAKRJW8sZcBXEAREiVui0cL1YLnhc"></div>


            <button type="submit">Sign Up</button>
        </form>

        <p class="login-link">Already have an account? <a href="{% url 'rateMyUogCourse:login' %}">Login</a></p>
    </div>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
        const confirmPassword = document.querySelector('#confirm-password');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye / eye slash icon
            this.classList.toggle('bi-eye');
        });

        toggleConfirmPassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPassword.setAttribute('type', type);
            // toggle the eye / eye slash icon
            this.classList.toggle('bi-eye');
        });
		
		
		document.getElementById("signupForm").addEventListener("submit", function (e) {
			e.preventDefault();
			// check email domain
			if(document.getElementById('email').value.split("@")[1].toLowerCase() !== 'student.gla.ac.uk'){
				alert("Please use UofG email to sign up!");
				document.getElementById("signupForm").reset();
			}else{
				// check the password equals to confirm password
				if (password.value === confirmPassword.value){
					alert("Successfully signed up! \n\nRedirecting to login page...");
					document.getElementById("signupForm").submit();
					
				}else{
					alert("Cofirm password is not the same!");
					
					document.getElementById("password").value = "";
					document.getElementById("confirm-password").value = "";
				}
			}

		});

    </script>


</body>

</html>