/* Table template */

:root {
    --text-background: lightgrey;
}

.table-scroll {
    max-height: 50vh; /* Set the max-height to the full viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  tr:hover {
    cursor: pointer;
  }
  
  /* Sticky table header */
  .table thead tr th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
  }
  
  /* Custom part */
  
  input {
    max-width: 50%;
    margin-bottom: 8px;
  }
  
  select {
    max-width: 180px;
    margin-bottom: 8px;
  }
  
  .filter-add-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }


  /* Overall Average */

.overall-average-container {
    margin-top: 16px;
    display: flex;
    text-align: center;
    align-items: left;
    margin-bottom: 32px;
}

.overall-average-border {
    flex-basis: 180px;
    padding: 4px 0px;
    padding-right: 64px;
    border-right: solid black 1px;
}

.overall-average {
    min-width: 180px;
}

.overall-average-title {
    font-size: 20px;
    font-weight: bold;
}

.average {
    background-color: var(--text-background);
    padding: 24px;
}

.average-categories {
    flex-basis: 100px;
    flex: 1;
    max-width: 60%;
    text-align: left;
}

.average-score {
    font-size: 40px;
    font-weight: 700;
}

.average-outof {
    font-size: 20px;
}

.num-reviews {
    font-size: 16px;
}

td .progress-container{
    width: 100px !important;
}

.rating-category-name {
    padding-left: 24px;
    width: 20%;
}

.progress {
    background: darkgrey;
}
