{% extends "base.html" %}
{% load static %}

{% block title %}Course Detail - Rage My UofG Course{% endblock %}
{% block additional_styles %}
<link rel="stylesheet" href="{% static 'css/student/styles-coursedetail.css' %}">{% endblock %}
{% block content %}
<div class="main-container">
    <div class="top">
        <button type="button" class="btn btn-outline-primary">← All Courses</button>

        <h1 class="course-code">COMPSCI 5044</h1>
        <h2 class="course-name">Basic Algorithms and Data Structures</h2>
        <h4 class="lecturer-name-title">Lecturer: Hang Dai - Lecturer for Machine Learning</h3>
    </div>

    <div class="overall-average-container">
        <div class="overall-average-border">
            <div class="overall-average">
                <div class="overall-average-title">Overall average</div>
                <div class="average">
                    <div class="average-score">4.2</div>
                    <div class="average-outof">out of 5.0</div>
                </div>
                <div class="num-reviews">Total: 54 reviews</div>
            </div>
        </div>

        <table class="average-categories">
            <tbody>
                <tr class="rating-category">
                    <td class="rating-category-name">Difficulty</td>
                    <td class="progress-container w-75">
                        <div class="progress">
                            <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td class="rating-category-name">2.5/5.0</td>
                </tr>
                <tr class="rating-category">
                    <td class="rating-category-name">Difficulty</td>
                    <td class="progress-container w-50">
                        <div class="progress">
                            <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td class="rating-category-name">2.5/5.0</td>
                </tr>
                <tr class="rating-category">
                    <td class="rating-category-name">Difficulty</td>
                    <td class="progress-container w-50">
                        <div class="progress">
                            <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td class="rating-category-name">2.5/5.0</td>
                </tr>
                <tr class="rating-category">
                    <td class="rating-category-name">Difficulty</td>
                    <td class="progress-container w-50">
                        <div class="progress">
                            <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td class="rating-category-name">2.5/5.0</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="reviews-list-container">
        <div class="reviews-list-top">
            <h2 class="reviews-section-title">Reviews</h2>
            <button type="button" class="btn btn-primary">+ Leave a Review</button>
        </div>
        <div class="reviews-list">
            <div class="review-container">

            </div>
        </div>
        <div class="review-form-container">
            <div class="ratings">
                <div class="rating-title">Ratings</div>
                <div class="rating-score">
                    <div>1</div>
                    <div>Difficulty</div>
                </div>
            </div>
            <div class="review-content">

            </div>
        </div>
    </div>

</div>

{% endblock %}