

.container {
    flex: 1;
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.feedback-item:not(:last-child) {
    margin-bottom: 20px;
}
.website-aesthetics {
    margin-bottom: 30px;
}
#explanation {
    width: 100%;
    margin-bottom: 20px;
}
.feedback-item.submit-button {
    text-align: right;
    margin-top: 20px;
}
.feedback-item.submit-button input[type="submit"] {
    background-color: #002663;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.star-rating {
    direction: rtl;
    display: inline-block;
}
.star-rating input[type="radio"] {
    display: none;
}
.star-rating label {
    color: grey;
    font-size: 30px;
    padding: 0;
    cursor: pointer;
}
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
    color: #ffcc00; /* Star color when hovered or selected */
}
.mandatory {
  color: red;
}
