/* Login page */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 60px;
}

#search {
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search {
  text-align: center;
  padding: 50px;
}

#search input {
  width: 50%;
  padding: 10px;
  margin-top: 20px;
}

#community {
  background-color: #f0f0f0;
  padding: 50px;
  text-align: center;
}

#community > p {
  max-width: 50%;
  margin: 0 auto;
}

.features {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.feature {
  margin: 0 20px;
  text-align: center;
}

.feature .icon {
  font-size: 48px; /* Adjust size as needed */
}