/* Login page */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 72px;
}

#search {
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search {
  text-align: center;
  padding: 50px;
}

#search p {
  font-size: 24px;
}

#search .btn {
  width: 320px;
  border-radius: 120px;
  padding: 16px;
  height: auto;
  font-size: 48px;
}

#community {
  background-color: #f0f0f0;
  padding: 50px;
  text-align: center;
}

#community > p {
  max-width: 50%;
  margin: 0 auto;
}

.features {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.feature {
  margin: 0 20px;
  text-align: center;
}

.feature .icon {
  font-size: 48px; /* Adjust size as needed */
}

.star-rating {
  font-family: Arial, sans-serif; /* Ensures that the star characters are displayed consistently */
  color: gold; /* Color for the stars */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /* Creates a border effect */
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.container .search, .container .filter-add-section {
  flex: 1;
}