.main-container {
    padding: 24px 64px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.course-code {
    margin-top: 16px;
    font-weight: bolder;
}

.course-name, .lecturer-name-title {
    font-weight: 500;
}

.course-code, .course-name, .lecturer-name-title {
    margin-bottom: 0;
}

.overall-average-container {
    margin-top: 16px;
    display: flex;
    text-align: center;
    align-items: left;
}

.overall-average-border {
    flex-basis: 180px;
    padding: 4px 0px;
    padding-right: 64px;
    border-right: solid black 1px;
}

.overall-average {
    min-width: 180px;
}

.overall-average-title {
    font-size: 20px;
    font-weight: bold;
}

.average {
    background-color: lightgrey;
    padding: 24px;
}

.average-categories {
    flex-basis: 100px;
    flex: 1;
    max-width: 60%;
    text-align: left;
}

.average-score {
    font-size: 40px;
    font-weight: 700;
}

.average-outof {
    font-size: 20px;
}

.num-reviews {
    font-size: 16px;
}

td .progress-container{
    width: 100px !important;
}

.rating-category-name {
    padding-left: 24px;
    width: 20%;
}

.progress {
    background: darkgrey;
}


.reviews-list {
    display: block;
}

.reviews-list-container {
    margin-top: 24px;
}

.reviews-section-title {
    font-size: 36px;
    font-weight: 600;
}

.reviews-list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 8px;
}