.main-container {
    padding: 24px 64px;
    width: 80%;
}

.course-code {
    margin-top: 16px;
    font-weight: bolder;
}

.course-name, .lecturer-name-title {
    font-weight: 500;
}

.course-code, .course-name, .lecturer-name-title {
    margin-bottom: 0;
}

.overall-average-container {
    margin-top: 16px;
    display: flex;
    gap: 24px;
    background-color: aqua;
    text-align: center;
}

.overall-average-border {
    flex-basis: 180px;
    padding: 4px 0px;
    padding-right: 64px;
    border-right: solid black 1px;
}

.overall-average {
    /* background-color: antiquewhite; */
    min-width: 180px;
}

.overall-average-title {
    font-size: 20px;
    font-weight: bold;
}

.average {
    background-color: lightgrey;
    padding: 24px;
}

.average-categories {
    flex-basis: 100px;
    flex: 1;
}

.average-score {
    font-size: 40px;
    font-weight: 700;
}

.average-outof {
    font-size: 20px;
}

.num-reviews {
    font-size: 16px;
}

.rating-category {
    display: flex;
}

.progress-container{
    flex-basis: 200px;
}