{% extends 'administrator/base_admin.html' %}

{% load static %}

{% block title %} Report Review Detail {% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'css/administrator/style-admin-report-review-detail.css' %}">
{% endblock %}

{% block pagetitle %} Report Review Detail {% endblock %}

{% block content %}
<form action="/path-to-your-edit-handler" method="post">
    <div>
        <label for="CourseID">Course ID:</label>
        <input id="courseID" name="course_id" type="text" value="{{ feedback_entity.courseId_id }}" readonly>
    </div>
    <div>
        <label for="Name">Name:</label>
        <input id="Name" name="Name" type="text" value="{{ course_name }}" readonly>
    </div>
    <div class="review-container">

        <div class="ratings">
            <div class="rating title">Ratings</div>
            <div class="rating-score">
                <div class="score score-1">{{ feedback_entity.difficulty }}</div>
                <div>Difficulty</div>
            </div>
            <div class="rating-score">
                <div class="score score-2">{{ feedback_entity.usefulness }}</div>
                <div>Usefulness</div>
            </div>
            <div class="rating-score">
                <div class="score score-3">{{ feedback_entity.workload }}</div>
                <div>Workload</div>
            </div>
            <div class="rating-score">
                <div class="score score-5">{{ feedback_entity.lecturerRating }}</div>
                <div>Professor Rating</div>
            </div>
        </div>

        <div class="review-content">
            <div class="review-content-top title">
                <div class="course-when-taken">When Taken: {{ feedback_entity.feedbackDateTime|date:"Y" }} Semester {{ feedback_entity.feedbackDateTime|date:"m" }}</div>
                <div class="post-date">{{ feedback_entity.feedbackDateTime }}</div>
            </div>
            <div class="course-comment-container">
                <div class="course-comment title">Comments on Course</div>
                <div class="course-comment-content">{{ feedback_entity.textFeedback }}</div>
            </div>
            <div class="miscellaneous-ratings">
                <div class="misc-rating title">Would recommend: <span class="answer">{% if feedback_entity.recommendCourse %}Yes{% else %}No{% endif %}</span></div>
                <div class="misc-rating title">Grade: <span class="answer">{{ feedback_entity.gradeReceived }}</span></div>
                <div class="misc-rating title">Exam Format: <span class="answer">{{ feedback_entity.examFormat }}</span></div>
                <div class="evaluation-methods-label title">Evaluation Methods:</div>
                <ul class="evaluation-methods">
                    {% for method in feedback_entity.evaluationMethod %}
                    <li>{{ method }}</li>
                    {% endfor %}
                </ul>
                <div class="review-bottom">
                    <text class="like-button btn btn-primary">👍 {{ feedback_entity.likes }}</text>
                </div>
            </div>
        </div>
    </div>
    <div class="button-top-row">
        <a href="{% url 'administrator:reported_review_delete' feedback_id=feedback_entity.feedbackId %}" class="btn btn-danger reject-button" style="background-color: red;">Reject</a>
        <a href="{% url 'administrator:reported_review_approve' feedback_id=feedback_entity.feedbackId %}" class="btn btn-primary approve-button">Approve</a>
    </div>

</form>
{% endblock %}
