{% extends 'administrator/base_admin.html' %}

{% load static %}

{% block title %} Course Management {% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/administrator/style-admin-course-management.css' %}">
{% endblock %}

{% block pagetitle %} Course Management {% endblock %}

{% block content %}
<div>
    <div class="filter-add-section">
{#        <input class="form-control" id="myInput" type="text" placeholder="Search a course here.." >#}
        <!-- Dropdown for filtering -->
{#        add content#}
        <input class="form-control" id="myInput" type="text" placeholder="Search a course here.." value="{{ request.GET.query }}">
        <button class="btn btn-primary add-a-course" id="searchButton">Search</button>
    </div>
    <div class="filter-add-section">
    <select class="form-control btn-secondary" id="tableFilter" onchange="this.form.submit()">
        <option value="" disabled>Select a Program</option>
        <option class="dropdown-item" value="" {% if request.GET.program == "" %}selected{% endif %}>All</option>
        <option class="dropdown-item" value="IT+" {% if request.GET.program == "IT " %}selected{% endif %}>IT+</option>
        <option class="dropdown-item" value="CS+" {% if request.GET.program == "CS " %}selected{% endif %}>CS+</option>
        <!-- more options as needed -->
    </select>

{#        <button type="button" class="btn btn-primary add-a-course">+ Add a Course</button>#}
        <a href="{% url 'administrator:course_add' %}" class="btn btn-primary add-a-course">+ Add a Course</a>
    </div>
    <div class="table-scroll">
        <!-- Table to filter -->
        <table class="table" id="dataTable">
            <thead>
                <tr>
                  <th>Course ID</th>
                  <th>Name</th>
                  <th>Lecturer</th>
                  <th>Program Type</th>
                  <th>Reviews</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for course in courses %}
                <tr onclick="window.location='#';">
                  <td>{{ course.courseId }}</td>
                  <td>{{ course.courseName }}</td>
                  <td>{{ course.lecturerNames }}</td>
                  <td>{{ course.programType }}</td>
                  <td> 0 </td>
                  <td class="buttons">
{#                    <form action="{% url 'administrator:course_delete' %}" method="post">#}
{#                      {% csrf_token %}#}
{#                      <input type="hidden" name="course_id" value="{{ course.courseId }}">#}
{#                      <button type="submit" class="btn btn-primary">Edit</button>#}
{#                      </form>#}
                    <a href="{% url 'administrator:course_edit' %}?course_id={{ course.courseId }}" class="btn btn-primary">Edit</a>
                    <form action="{% url 'administrator:course_delete' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="course_id" value="{{ course.courseId }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    </div>
</div> <!-- end of the main div content-->

<script>
document.addEventListener('DOMContentLoaded', function () {
    const searchInput = document.getElementById('myInput');
    const searchButton = document.getElementById('searchButton');
    const filterSelect = document.getElementById('tableFilter');

    // 将光标移动到输入框文本的末尾
    const value = searchInput.value;
    searchInput.focus();
    searchInput.value = '';
    searchInput.value = value;

    // 处理搜索按钮点击
    searchButton.addEventListener('click', function() {
        window.location.href = '?program=' + filterSelect.value + '&query=' + searchInput.value;
    });

    filterSelect.addEventListener('change', function() {
        window.location.href = '?program=' + this.value + '&query=' + searchInput.value;
    });
});
</script>


{% endblock %}
