{% extends 'administrator/base_admin.html' %}

{% load static %}

{% block title %}Create a Course{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'css/administrator/style-admin-create-course-management.css' %}">
{% endblock %}

{% block pagetitle %}Create a Course{% endblock %}

{% block content %}
<form action="/administrator/course_edit_post/" method="post">
    {% csrf_token %}
    <div>
        <label for="courseID">Course ID:</label>
        <input id="CourseID" name="course_id" type="text" value="{{ course.courseId }}">
    </div>
    <div>
        <label for="courseName">Name:</label>
        <input id="courseName" name="course_name" type="text" value="{{ course.courseName }}">
    </div>
    <div>
        <label for="professor">Professor Teaching:</label>
        <input id="professor" name="professor" type="text" value="{{ course.lecturerName }}">
    </div>
    <div>
        <label for="programType">Program Type:</label>
        <select id="programType" name="program_type">
            <option value="IT+" {% if course.programType == "IT+" %}selected{% endif %}>IT+</option>
            <option value="CS+" {% if course.programType == "CS+" %}selected{% endif %}>CS+</option>
            <option value="Both" {% if course.programType == "Both" %}selected{% endif %}>Both</option>
        </select>
    </div>

    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="buttons-right">
        <button type="submit" class="btn btn-primary save-button mr-2">Save and Return</button>
    </div>
</form>

{% endblock %}
