{% extends 'administrator/base_admin.html' %}

{% load static %}

{% block title %} Feedback Detail {% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'css/administrator/style-admin-feedback-detail.css' %}">
{% endblock %}

{% block pagetitle %} Feedback Detail {% endblock %}

{% block content %}
<form action="/path-to-your-edit-handler" method="post">
    {% csrf_token %}
    <div>
        <label for="DatePosted">Date Posted:</label>
        <input id="dateposted" readonly name="date_posted" type="date" value="{{ feedback_entity.feedbackTime|date:"Y-m-d" }}">
    </div>
    <div class="feedback-rating">
        <label>Overall:</label>
        <div class="star-rating">
        {% for star in ratings.overall %}
                <span class="star">&#9733;</span>
            {% endfor %}
        </div>
    </div>
    <div class="feedback-rating">
        <label>User-Friendly:</label>
        <div class="star-rating">
            {% for star in ratings.friendly %}
                <span class="star">&#9733;</span>
            {% endfor %}
        </div>
    </div>
    <div class="feedback-rating">
        <label>Website Aesthetics:</label>
        <div class="star-rating">
            {% for star in ratings.aesthetic %}
                <span class="star">&#9733;</span>
            {% endfor %}
        </div>
    </div>
    <div>
        <label for="Explanation">Explanation:</label>
        <textarea id="explanation" name="explanation" rows="4" cols="50" readonly>{{ feedback_entity.comment }}</textarea>
    </div>
    <div class="buttons-right">
{#        <button type="button" class="btn btn-danger delete-button" style="background-color: red;">Delete</button>#}
{#        using get method#}
        <a href="{% url 'administrator:website_feedback_delete' %}?feedback_id={{ feedback_entity.feedbackId }}" class="btn btn-danger delete-button" style="background-color: red;">Delete</a>
    </div>
</form>
{% endblock %}
