{% extends 'administrator/base_admin.html' %}
{% load static %}
{% load custom_filters %}

{% block title %} Feedback Management {% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'css/administrator/style-admin-feedback-management.css' %}">
<script src="{% static 'js/admin_feedback_management.js' %}"></script>
{% endblock %}

{% block pagetitle %} Feedback Management {% endblock %}

{% block content %}
<div class="overall-average-container">
  <div class="overall-average-border">
    <div class="overall-average">
      <div class="overall-average-title">Overall average</div>
      <div class="average">
        <div class="average-score">{{ overall_avg }}</div>
        <div class="average-outof">out of 5.0</div>
      </div>
      <div class="num-reviews">Total: {{ count }} reviews</div>
    </div>
  </div>

  <table class="average-categories">
    <tbody>
      <tr class="rating-category">
        <td class="rating-category-name">User-friendly</td>
        <td class="progress-container w-75">
          <div class="progress">
            <div class="progress-bar friendly-progress-bar" role="progressbar" aria-valuenow="{{ friendly_avg }}" aria-valuemin="0" aria-valuemax="5" data-value="{{ friendly_avg }}">
            </div>
          </div>
        </td>
        <td class="rating-category-name">{{ friendly_avg }}/5.0</td>
      </tr>
      <tr class="rating-category">
        <td class="rating-category-name">Website Aesthetics</td>
        <td class="progress-container w-75">
          <div class="progress">
            <div class="progress-bar aesthetic-progress-bar" role="progressbar" aria-valuenow="{{ aesthetic_avg }}" aria-valuemin="0" aria-valuemax="5" data-value="{{ aesthetic_avg }}">
            </div>
          </div>
        </td>
        <td class="rating-category-name">{{ aesthetic_avg }}/5.0</td>
      </tr>
  </table>
</div> <!-- end of average-->

<div>
  <div class="table-scroll">
    <!-- Table to filter -->
    <table class="table" id="dataTable">
      <thead>
        <tr>
          <th>Overall</th>
          <th>User-friendly</th>
          <th>Website Aesthetics</th>
          <th>Date Posted</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for feedback in website_feedbacks %}
        <tr onclick="window.location='#';">
          <td>{{ feedback.overall|times:"*" }}</td> <!-- Custom template filter to convert numeric rating to stars -->
          <td>{{ feedback.friendly|times:"*" }}</td>
          <td>{{ feedback.aesthetic|times:"*" }}</td>
          <td>{{ feedback.feedbackTime|times:"*" }}</td>
          <td>
            <button class="btn btn-primary">Detail</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div> <!-- end of the main div content-->
{% endblock %}