{% extends 'administrator/base_admin.html' %}
{% load static %}

{% block title %} Lecturer Management {% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'css/administrator/style-admin-lecturer-management.css' %}">
{% endblock %}

{% block pagetitle %} Lecturer Management {% endblock %}

{% block content %}
<div>
    <div class="search">
        <input class="form-control" id="myInput" type="text" placeholder="Search a lecturer name or email here..">
        <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
    </div>
  <div class="filter-add-section">
{#    <button type="button" class="btn btn-primary add-a-course">+ Add a Lecturer</button>#}
    <a href="{% url 'administrator:lecturer_edit' %}" class="btn btn-primary add-a-course">+ Add a Lecturer</a>
  </div>
  <div class="table-scroll">
    <!-- Table to filter -->
    <table class="table" id="dataTable">
      <thead>
        <tr onclick="window.location='#';">
          <th>Name</th>
          <th>Designation</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for lecturer in lecturers %}
        <tr onclick="window.location='#';">
          <td>{{ lecturer.lecturerName }}</td>
          <td>{{ lecturer.designation }}</td>
          <td>{{ lecturer.email }}</td>
          <td class="buttons">
{#            <form action="#" method="post">#}
{#              {% csrf_token %}#}
{#              <input type="hidden" name="lecturer_id" value="#">#}
{#              <button type="submit" class="btn btn-primary">Edit</button>#}
{#            </form>#}
{#              using get method#}
            <a href="{% url 'administrator:lecturer_edit' %}?lecturer_id={{ lecturer.lecturerId }}" class="btn btn-primary">Edit</a>
            <form action="{% url 'administrator:lecturer_delete' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="lecturer_id" value="{{ lecturer.lecturerId }}">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
        <!-- Repeat the pattern for each course -->
        <!-- ... -->
      </tbody>
    </table>
  </div>
</div> <!-- end of the main div content-->
    
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchBtn = document.getElementById('searchBtn');
        const searchInput = document.getElementById('myInput');
    
        searchBtn.addEventListener('click', function() {
            const query = searchInput.value;
            window.location.href = '?query=' + query;
        });
    });
</script>

{% endblock %}