{% extends 'administrator/base_admin.html' %}
{% load static %}

{% block title %} Reported Reviews Management {% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'css/administrator/style-admin-reported-reviews-management.css' %}">
{% endblock %}

{% block pagetitle %} Reported Reviews Management {% endblock %}

{% block content %}
{#<div>#}
{#  <div class="search">#}
{#    <input class="form-control" id="myInput" type="text" placeholder="Search a course here..">#}
{#    <!-- Dropdown for filtering -->#}
{#  </div>#}
{#  <div class="filter-add-section">#}
{#    <select class="form-control btn-secondary" id="tableFilter" placeholder="Course:">#}
{#      <option value="" selected disabled>Select a Program</option>#}
{#      <option class="dropdown-item" value="">All</a>#}
{#      <option class="dropdown-item" value="IT+">IT+</a>#}
{#      <option class="dropdown-item" value="CS+">CS+</a>#}
{#        <!-- more options as needed -->#}
{#    </select>#}
{#  </div>#}
  <div class="table-scroll">
    <!-- Table to filter -->
    <table class="table" id="dataTable">
      <thead>
        <tr onclick="window.location='#';">
          <th>Feedback ID</th>
          <th>Course ID</th>
          <th>Name</th>
          <th>Program Type</th>
          <th>Number of Reports</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for feedback in course_feedbacks %}
        <tr onclick="window.location='#';">
          <td>{{ feedback.feedbackId }}</td>
          <td>{{ feedback.courseId }}</td>
          <td>{{ feedback.courseName }}</td>
            <td>{{ feedback.programType }}</td>
          <td>{{ feedback.reported }}</td>
          <td class="buttons">
{#            <form action="#" method="post">#}
{#              <a href="#" class="btn btn-primary">Detail</a>#}
{#            </form>#}
{#              use get method to pass the feedback id to the url#}
            <a href="{% url 'administrator:report_review_detail'%}?feedback_id={{ feedback.feedbackId }}" class="btn btn-primary">Detail</a>
          </td>
        </tr>
        {% endfor %}
        <!-- Repeat the pattern for each course -->
        <!-- ... -->
      </tbody>
    </table>
  </div>
</div> <!-- end of the main div content-->
{% endblock %}