{% extends 'administrator/base_admin.html' %}
{% load static %}

{% block title %} Reported Reviews Management {% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'css/administrator/style-admin-reported-reviews-management.css' %}">
{% endblock %}

{% block pagetitle %} Reported Reviews Management {% endblock %}

{% block content %}
  <div class="table-scroll">
    <!-- Table to filter -->
    <table class="table" id="dataTable">
      <thead>
        <tr onclick="window.location='#';">
          <th>Feedback ID</th>
          <th>Course ID</th>
          <th>Name</th>
          <th>Program Type</th>
          <th>Number of Reports</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for feedback in course_feedbacks %}
        <tr onclick="window.location='#';">
          <td>{{ feedback.feedbackId }}</td>
          <td>{{ feedback.courseId }}</td>
          <td>{{ feedback.courseName }}</td>
            <td>{{ feedback.programType }}</td>
          <td>{{ feedback.reported }}</td>
          <td class="buttons">
            <a href="{% url 'administrator:report_review_detail'%}?feedback_id={{ feedback.feedbackId }}" class="btn btn-primary">Detail</a>
          </td>
        </tr>
        {% endfor %}
        <!-- Repeat the pattern for each course -->
        <!-- ... -->
      </tbody>
    </table>
  </div>
</div> <!-- end of the main div content-->
{% endblock %}